/* 
    font - "DIN Next LT Pro" 
    font-weight - 300: light, 400: regular, 600: medium, 700: bold
*/

@font-face {
    font-family: 'DIN';
    font-weight: 300;
    src: url('./dinnextltpro-light.otf');
    font-display: swap;
}
@font-face {
    font-family: 'DIN';
    font-weight: 400;
    src: url('./dinnextltpro-regular.otf');
    font-display: swap;
}
@font-face {
    font-family: 'DIN';
    font-weight: 600;
    src: url('./dinnextltpro-medium.otf');
    font-display: swap;
}
@font-face {
    font-family: 'DIN';
    font-weight: 700;
    src: url('./dinnextltpro-bold.otf');
    font-display: swap;
}