@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?43b3ai') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="xpri-"], [class*=" xpri-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xpri-pencil {
  &:before {
    content: $xpri-pencil;     
  }
}
.xpri-clock {
  &:before {
    content: $xpri-clock;     
  }
}
.xpri-arrow-down {
  &:before {
    content: $xpri-arrow-down;     
  }
}
.xpri-members {
  &:before {
    content: $xpri-members;     
  }
}
.xpri-filter {
  &:before {
    content: $xpri-filter;     
  }
}
.xpri-list-square {
  &:before {
    content: $xpri-list-square;     
  }
}
.xpri-instance {
  &:before {
    content: $xpri-instance;     
  }
}
.xpri-external-link {
  &:before {
    content: $xpri-external-link;     
  }
}
.xpri-save {
  &:before {
    content: $xpri-save;     
  }
}
.xpri-instance-view {
  &:before {
    content: $xpri-instance-view;     
  }
}
.xpri-list {
  &:before {
    content: $xpri-list;     
  }
}
.xpri-tile {
  &:before {
    content: $xpri-tile;     
  }
}
.xpri-instance-circle {
  &:before {
    content: $xpri-instance-circle;     
  }
}
.xpri-xpr-circle {
  &:before {
    content: $xpri-xpr-circle;     
  }
}
.xpri-check-square {
  &:before {
    content: $xpri-check-square;     
  }
}
.xpri-close {
  &:before {
    content: $xpri-close;     
  }
}
.xpri-customize {
  &:before {
    content: $xpri-customize;     
  }
}
.xpri-image {
  &:before {
    content: $xpri-image;     
  }
}
.xpri-alert {
  &:before {
    content: $xpri-alert;     
  }
}
.xpri-check {
  &:before {
    content: $xpri-check;     
  }
}
.xpri-plus {
  &:before {
    content: $xpri-plus;     
  }
}
.xpri-arrow-right {
  &:before {
    content: $xpri-arrow-right;     
  }
}
.xpri-download {
  &:before {
    content: $xpri-download;     
  }
}
.xpri-preview {
  &:before {
    content: $xpri-preview;     
  }
}
.xpri-calendar-alt {
  &:before {
    content: $xpri-calendar-alt;     
  }
}
.xpri-trash {
  &:before {
    content: $xpri-trash;     
  }
}
.xpri-delete {
  &:before {
    content: $xpri-delete;     
  }
}
.xpri-edit {
  &:before {
    content: $xpri-edit;     
  }
}
.xpri-credit-card {
  &:before {
    content: $xpri-credit-card;     
  }
}
.xpri-badges {
  &:before {
    content: $xpri-badges;     
  }
}
.xpri-documentation {
  &:before {
    content: $xpri-documentation;     
  }
}
.xpri-bell {
  &:before {
    content: $xpri-bell;     
  }
}
.xpri-business {
  &:before {
    content: $xpri-business;     
  }
}
.xpri-marketplace {
  &:before {
    content: $xpri-marketplace;     
  }
}
.xpri-xpr-2 {
  &:before {
    content: $xpri-xpr-2;     
  }
}
.xpri-caret {
  &:before {
    content: $xpri-caret;     
  }
}
.xpri-search {
  &:before {
    content: $xpri-search;     
  }
}
.xpri-calendar {
  &:before {
    content: $xpri-calendar;     
  }
}
.xpri-control-panel {
  &:before {
    content: $xpri-control-panel;     
  }
}
.xpri-backend {
  &:before {
    content: $xpri-backend;     
  }
}
.xpri-logout {
  &:before {
    content: $xpri-logout;     
  }
}
.xpri-xpr {
  &:before {
    content: $xpri-xpr;     
  }
}
.xpri-applications {
  &:before {
    content: $xpri-applications;     
  }
}
.xpri-dashboard {
  &:before {
    content: $xpri-dashboard;     
  }
}
.xpri-badge {
  &:before {
    content: $xpri-badge;     
  }
}
.xpri-details {
  &:before {
    content: $xpri-details;     
  }
}
.xpri-user {
  &:before {
    content: $xpri-user;     
  }
}
.xpri-instances {
  &:before {
    content: $xpri-instances;     
  }
}

