/**
 * = Breadcrumbs
 */

.breadcrumb-item {
  font-size: $font-size-xs;
  &, a {
    color: $breadcrumb-item-color;
    font-weight: $breadcrumb-font-weight;
    font-size: $font-size-xs;
    @include media-breakpoint-up(sm){
      font-size: $font-size-sm;
    }
  }

  &.active {
    font-weight: $breadcrumb-active-font-weight;
  }

  + .breadcrumb-item {
    &:before{
      content: $xpri-arrow-right;
      font-family: $icomoon-font-family;
      font-size: 0.5rem;
      font-weight: 400;
      color: $breadcrumb-divider-color;
      line-height: 2.5;
    }
  }
  
}

.breadcrumb-transparent {
  background: transparent;
  padding: 0;
}

@each $color, $value in $theme-colors {
  .breadcrumb-#{$color}  {
      background: $value;
      .breadcrumb-item{
          font-size: 0.813rem;
          &.active {
              color: $white;
          }
      }
      &.breadcrumb-transparent {
        background: transparent;
        .breadcrumb-item {
          &.active {
            color: $primary;
          }
        }
      }
  }
}

.breadcrumb-text-light {
  .breadcrumb-item {
    &, a {
      color: $breadcrumb-item-light-color;
    }

    &:before {
      color: $breadcrumb-divider-light-color;
    }
  }
}


// 
// Breadcrumb Tertiary 
//

.breadcrumb-tertiary {  
  .breadcrumb-item {
    &.active { color: $dark;}
  }
}