/*
* = Buttons
*/

.btn {
    line-height: 1;
    &:focus:active,&:focus,&:active {
        box-shadow: none;
    }
    &.btn-circle {
        border-radius: $circle-radius;
    }

    &.btn-md {
        padding: 0.65rem 1.25rem;
    }

    &.btn-xs {
        padding  : 0.175rem 0.45rem;
        font-size: 0.7rem;
    }
}

.btn-icon-only {
    width  : 2.575rem;
    height : 2.575rem;
    padding: 0;
    @include display-flex();
    @include justify-content(center);
    @include align-items(center);

    &.btn-xs {
        width : 1.7rem;
        height: 1.7rem;
    }

    &.btn-sm {
        width : 2rem;
        height: 2rem;
    }
}


//
// Primary button
//

.btn-primary,
.btn-secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $primary;
    border-radius: 1.719rem;
    width: 8.75rem;
    height: 2.5rem;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
    color: $white;
    text-align: center;
    letter-spacing: 0.031rem;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;

    i { 
        font-size: 0.6rem;
    }

    &:active:focus {
        box-shadow: none;
    }
    &.icon {
        width: 2rem;
        height: 2rem;
        i {
            font-size: 1rem;
        }
        svg {
            width: 1rem;
        }
    }
}


//
// Secondary button
//

.btn-secondary { 
    background: transparent;
    border: 0.063rem solid $gray-500;
    color: $dark;
    
    &:hover,
    &:active, 
    &:active:focus {
        background: transparent;
        border-color: $dark;
        color: $dark;
        box-shadow: none;

    }
 }

//
// Tertiary button
//

.btn-tertiary { color: $dark; }

//
// Block button
//

.btn-block {
    display: block;
    width  : 100%;

    // Vertically space out multiple block buttons
    +.btn-block {
        margin-top: $btn-block-spacing-y;
    }
}

.copy-code-button {
    position: absolute;
    top: 22px;
    right: 20px;
    background-color: transparent;
    color: $gray-600;
    border: 0;
    box-shadow: none;

    &:hover {
        background-color: $primary;
        color: $white;
        border: 0;
        box-shadow: none;
    }
}

.copy-code-text {
    position: absolute;
    top: 24px;
    right: 90px;
}


//
// Outline button
//

.btn-outline-primary {
    &.icon {
        width: 2rem;
        height: 2rem;
        border-radius: 1rem;
    }
}
// outline dark
.btn-outline-dark {
    font-weight: $font-weight-normal;
    font-size: $h5-font-size;
    border-color: $gray-600;
    display: inline-flex;
    align-items: center;
    i { 
        font-size: $h3-font-size;
        margin-left: .5rem;
    }
}


//
// Button group
//

.btn-group {
    .btn {
        &:focus,&:active {
            box-shadow: none;
        }
    }
    .btn-link {
        padding: 0;
        & +.btn-link { 
            margin-left: 0.25rem;
        }
    }
}