.form-control {
    line-height: 1;
    &, &:focus {
        box-shadow:none;
        color: $dark;
    }
    @include media-breakpoint-up(lg) {
        &.form-control-lg{
            font-size: 0.938rem;
            padding: $input-padding-y-lg $input-padding-x-lg;
            min-height: 0;
        }
    }
}

.form-check-inline {
    display: inline-flex;
    margin: 0;
}
.form-check-input {
    width: 0.75rem;
    height: 0.75rem;
    &:focus {
        box-shadow: none;
    }
    &.round-check{
        &[type="checkbox"] {
            @include border-radius($form-check-radio-border-radius);
        }
    }
}

.search-bar {
    .form-control {
        width: 280px;
        transition: width .2s ease-in-out;

        @include media-breakpoint-down(sm) {
            width: 120px;

            &:focus {
                width: 150px;
            }
        }
    }
}

.input-group {
    .form-control:focus {
        border-color: $input-border-color;

        & + .input-group-text {
            border-color: $input-border-color; 
        }
    }
}

.focused {

    .form-control {
        border-color: $input-focus-border-color;
        background-color: $input-focus-bg;
    }
}

.form-switch {
    padding-left: $form-switch-padding-start;
  
    .form-check-input, & .form-check-input:focus {
        width: 3rem;
        height: 1.625rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.5' fill='%23FFAB46'/%3e%3c/svg%3e");
        background-color: $yellow-alt;
        border-color: $yellow;
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.5' fill='%2339AD5A'/%3e%3c/svg%3e");
            background-color: $green-alt;
            border-color: $green;
        }
    }
}

.form-select {
    color: $dark;
    background-position: right 0.4rem center;
    padding-right: 1.8rem;
    border-color: $tertiary;
    &:focus,&:active {
        box-shadow: none;
    }
    .form-select-lg {
        padding: $form-select-padding-y ($form-select-padding-x + $form-select-indicator-padding) $form-select-padding-y $form-select-padding-x;
    }
}

// divider

.vr { 
    height: 1.188rem;
    align-self:center;
}

//Add File Alternative Style

.file-field input[type="file"] {
    max-width: 230px;
    position: absolute;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    padding-bottom: 30px;
}
.file-field span {
    cursor: pointer;
}

.datepicker-dropdown {
    z-index: 9999;
}