.form-control {
    line-height: 1;
    &, &:focus {
        box-shadow:none;
        color: $dark;
    }
    @include media-breakpoint-up(lg) {
        &.form-control-lg{
            font-size: 0.938rem;
            padding: $input-padding-y-lg $input-padding-x-lg;
            min-height: 0;
        }
    }
}

.form-check-inline {
    display: inline-flex;
    margin: 0;
}
.form-check-input {
    width: 0.75rem;
    height: 0.75rem;
    &:focus {
        box-shadow: none;
    }
    &.round-check{
        &[type="checkbox"] {
            @include border-radius($form-check-radio-border-radius);
        }
    }
}

.search-bar {
    .form-control {
        width: 280px;
        transition: width .2s ease-in-out;

        @include media-breakpoint-down(sm) {
            width: 120px;

            &:focus {
                width: 150px;
            }
        }
    }
}

.input-group {
    .form-control:focus {
        border-color: $input-border-color;

        & + .input-group-text {
            border-color: $input-border-color; 
        }
    }
}

.focused {

    .form-control {
        border-color: $input-focus-border-color;
        background-color: $input-focus-bg;
    }
}

.form-switch {
    padding-left: $form-switch-padding-start;
  
    .form-check-input, & .form-check-input:focus {
        width: 3rem;
        height: 1.625rem;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.5' fill='%23FFAB46'/%3e%3c/svg%3e");
        background-color: $yellow-alt;
        border-color: $yellow;
        &:checked {
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3.5' fill='%2339AD5A'/%3e%3c/svg%3e");
            background-color: $green-alt;
            border-color: $green;
        }
    }
}

.form-select {
    color: $dark;
    font-size: $h5-font-size;
    background-position: right 0.4rem center;
    padding-right: 1.8rem;
    border-color: $gray-alt;
    box-shadow: none;
    &:focus,&:active {
        box-shadow: none;
    }
    .form-select-lg {
        padding: $form-select-padding-y ($form-select-padding-x + $form-select-indicator-padding) $form-select-padding-y $form-select-padding-x;
    }
}

// divider

.vr { 
    height: 1.188rem;
    align-self:center;
}

//Add File Alternative Style

.file-field input[type="file"] {
    max-width: 230px;
    position: absolute;
    cursor: pointer;
    filter: alpha(opacity=0);
    opacity: 0;
    padding-bottom: 30px;
}
.file-field span {
    cursor: pointer;
}

.datepicker-dropdown {
    z-index: 9999;
}


//
// Form Labels
//

.form-label {
    font-size: $h6-font-size;
    font-weight: $font-weight-normal;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
}


//
// Form Range
// 

input[type=range] {
    -webkit-appearance: none;
    margin-right: 15px;
    width: 165px;
    height: 6px;
    background: #e1e1e1;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
    background-size: 70% 100%;
    background-repeat: no-repeat;
    // initial value (0.5), min (0), max (1)
    //background-size: calc((0.5 - 0) * 100 / (1 - 0)) + '% 100%';
    background-size: 50% 100%;
    border: 0;
    &::-moz-focus-outer {
        border: 0;
    }
    &:focus {
        outline:none;
    }
}


//
// Tags
// 

.tags {
    .form-control-plaintext {
        padding: 0;
        outline: none;
    }
    .btn {
        margin-right: .5rem;
        margin-bottom: .5rem;
        &:hover {
            .form-control-plaintext {
                color: $white;
            }
        }
    }
}
  
/* Input Thumb */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $primary;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
    border: 0;
    &:focus,&:active {
        outline: none;
        box-shadow: none;
    }
}
  
input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $primary;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}
  
input[type=range]::-ms-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: $primary;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
}
  
input[type=range]::-webkit-slider-thumb:hover {
    background: #6390e9;
}
  
input[type=range]::-moz-range-thumb:hover {
    background: #6390e9;
}
  
input[type=range]::-ms-thumb:hover {
    background: #6390e9;
}
  
/* Input Track */
input[type=range]::-webkit-slider-runnable-track  {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
  
input[type=range]::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
  
input[type=range]::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

//
// Content Update Form
//

.form-content-update {
    .form-label {
        color: $eggplant;
        margin:.5rem 0rem;
    }

    .form-control {
        border: 0;
        border-bottom: 1px solid $gray-600;
        border-radius: 0;
        padding:0 0 1.25rem;
        font-size: $font-size-base;
    }
    textarea.form-control {
        line-height: 1.25;
        resize: none;
        height: 55px;
        border: 0;
        padding: 0;
    }
    .textarea-form-control {
        border-bottom: 1px solid $gray-600;
        padding:0 0 1.25rem;
    }

    // Cropper
    .cropper-view-box { 
        outline:2px dashed $red-alt; 
    }
    .cropper-point { 
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    .cropper-point.point-se {
        opacity: 0;
    }
    .cropper-modal {
        background-color: $gray-alt;
        opacity: 0.7;
    }

    // form range
    .form-range {
        width: 165px;
    }

    // media wrapper
    .media-wrapper {
        border: 1px solid $gray-400;
        border-radius: 5px;
        overflow: hidden;
        .card-footer {
            background: $white;
            padding: 1rem;
        }
    }

    // card
    .card-group {
        display: block;
        .card {
            border-radius: 0;
            border: 1px solid $gray-300;
            + .card { 
                margin-top: 0.625rem;
            }
            .btn-cherry {
                width: 1.5rem;
                height: 1.5rem;
                line-height: 1;
                align-items: center;
                display: flex;
                justify-content: center;
                border: 0;
                border-radius: 0;
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}